<header>
  <div class='show-page-header'>
    <nav>
      Force Leap
      <%= inline_svg 'lunch_meat.svg', id: "lunchmeet" %>
    </nav>
  </div>
  <div class='sign_in'>
	<%= link_to "Sign in with Google here", "/auth/google_oauth2", id: "sign_in" %>
  </div>
</header>
