<header>
  <div class="container">
    <div class="row">
      <h1> I want to: </h1>
      <div class="col-xs-9">
        <div class="row">
          <div class="col-xs-6">
                <%= link_to  "/questions", id: "question_link" do %>
                  <%= image_tag 'findexpert' %>
                <% end %>
              <div class="col-xs-6"></div>
          </div>
          <div class="col-xs-6">
            <div class="row">
              <div class="col-xs-6">
                <%= link_to "/update_expertises/", id: "expert_link" do %>
                  <%= image_tag 'addexpertise' %>
                <% end %>
              </div>
              <div class="col-xs-6"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
